// ******************
// GLOBAL
// ******************

$FontOne: 'Open Sans', sans-serif;
$FontTwo: 'Raleway', sans-serif;
$FontThree: 'Arizonia', cursive;
$globalHeaderColor: #2c3d4f;
$headerColor: #2c3d4f;
$globalHeaderAfterColor: #F54F36;
$btnBgColor: #F54F36;
$btnFontColor: #fff;

// ******************
// MENU
// ******************

$menuOverlayColor: rgba(26,26,26, 0.6);
$menuLinkColor: #fff;
$ListItemBorderColor: #4d4d4d;
$menuTitleBgColor: #F54F36;

// ******************
// HOME
// ******************

$homeOverlayColor: rgba(53,60,79,.8);
$homeHeaderColor: #fff;
$socialsColor: rgb(143, 143, 143);
$socialsHoverColor: #fff;

$twitterColor: #17c3f7;
$facebookColor: #0049cf;
$dribbbleColor: #df0089;
$vimeoColor: #0087c5;
$linkedInColor: #0f73c5;
$gitHubColor: #000;
$googleColor: #a50202;

$socialMedia: (
    'twitter': $twitterColor,
    'facebook': $facebookColor,
    'dribbble': $dribbbleColor,
    'vimeo': $vimeoColor,
    'linkedIn': $linkedInColor,
    'gitHub': $gitHubColor,
    'google': $googleColor
);

// ******************
// ABOUT
// ******************

$paragraphColor: #7e868e;

// ******************
// RESUME
// ******************

$XPbtnBgColor: #dbdde5;
$XPbtnFontColor: #2c3d4f;
$XPbtnAfterBgColor: #F54F36;
$beforeIconColor: #fff;
$EduBtnBgColor: #1abb9b;




