// ******************
// GLOBAL
// ******************

$FontOne: 'Open Sans', sans-serif;
$FontTwo: 'Raleway', sans-serif;
$FontThree: 'Arizonia', cursive;
$globalHeaderColor: #2c3d4f;
$globalHeaderAfterColor: #F54F36;

// ******************
// MENU
// ******************

$menuOverlayColor: rgba(26,26,26, 0.6);
$menuLinkColor: #fff;
$ListItemBorderColor: #4d4d4d;
$menuTitleBgColor: #F54F36;

// ******************
// HOME
// ******************

$homeOverlayColor: rgba(53,60,79,.8);
$homeHeaderColor: #fff;
$socialsColor: rgb(143, 143, 143);
$socialsHoverColor: #fff;

// ******************
// ABOUT
// ******************

$paragraphColor: #7e868e;

// $colors: #17c3f7, #0049cf, #df0089, #0087c5, #0f73c5, #000000, #a50202
 


// '.twitter': rgb(23, 195, 247),
//     '.facebook': rgb(0, 73, 207),
//     '.dribble': rgb(223, 0, 137),
//     '.vimeo': rgb(0, 135, 197),
//     '.linkedIn': rgb(15, 115, 197),
//     '.gitHub': rgb(0, 0, 0),
//     '.google': rgb(165, 2, 2)
