// ******************
// GLOBAL
// ******************

$FontOne: 'Open Sans', sans-serif;
$FontTwo: 'Raleway', sans-serif;
$FontThree: 'Arizonia', cursive;

// ******************
// MENU
// ******************

$menuOverlayColor: rgba(26,26,26, 0.6);
$menuLinkColor: #fff;
$ListItemBorderColor: #4d4d4d;
$menuTitleBgColor: #F54F36;

// ******************
// HOME
// ******************

$homeOverlayColor: rgba(53,60,79,.8);
$homeHeaderColor: #fff;
$socialsColor: rgb(143, 143, 143);
$socialsHoverColor: #fff;